@model CategoryViewModel

<h3 class="text-center">@Model.currentCategory</h3>
<div class="row mt-4 mb-2">
    @{
        foreach (Plant plant in Model.allPlants)
        {
            @Html.Partial("AllPlants", plant);
        }
    }
</div>
