@model Category

<div class="col-lg-4">
    <a href="~/Home/Category/@Model.Name/"><img class="img-thumbnail" src="@Model.Image" title="@Model.Name" /></a>
    <div class="row mt-4">
        <p><a class="btn btn-warning" href="~/Home/Category/@Model.Name/">@Model.Name</a></p>
    </div>
</div>
