body {
    font-family: Apple Chancery, cursive;
    font-size: 16px;
    overflow-y: scroll;
}

body {
    background-color: #ABB98E;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 5px;
    margin-top: 5px;
}

input {
    font-size: 16px;
    font-family: Apple Chancery, cursive;
}

footer .container {
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}

.call-name {
    margin-bottom: 10px;
}

.img-view {
    margin-bottom: 25px;
}

.form-control {
    margin-bottom: 0px;
}

.d-flex p {
    font-size: 20px;
}

.d-flex input {
    font-size: 20px;
    border: none;
    background-color: #ABB98E;
}

.d-flex input:hover {
    color: #0066CC;
}

table td {
    vertical-align:middle; 
    border-color: black;
}


