@model string

<div asp-validation-summary="All" class="text-danger"></div>

<h3>New Role</h3>
<form asp-action="Create" method="post">
    <div class="col-md-5" style="padding-top: 8px;">
        <input name="name" class="form-control" />
    </div>
    <button style="margin-top: 15px;" type="submit" class="btn btn-warning btn-space">Add</button>
</form>