@model IEnumerable<Plant_Store.Data.Models.User>

<h3>Users List</h3>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a style="float: right;" class="btn btn-warning btn-space" asp-action="Edit" asp-route-userid="@user.Id">Permissions</a>
            </td>
        </tr>
    }
</table>